<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}
    {{section.title}}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <style>
        .navbar-nav{
        padding-left:300px;
        }
        .navbar-nav>li{
        padding-left:10px;
        }
    </style>
</head>
<body>
{% include 'navbar.html'%}
<div class="main">
{% block main_content %}
{% endblock %}
</div>
<script src="{%static 'js/jquery.js'%}"></script>
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'js/bootstrap.js'%}"></script>
<script> https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js</script>
<script>https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js</script>
</body>
</html>